form {
  margin: 20px;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #FCFEFF;
}

div {
  margin: 20px;
}

input {
  width: 30px;
  margin-left: 15px;
  border-radius: 5px;
  border: 2px solid #62A5F8;
  background-color: #EEF5FE;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  margin-left: 15px;
  border-radius: 5px;
  border: 2px solid #62A5F8;
  background-color: #EEF5FE;
}

button {
  font-weight: bold;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid #62A5F8;
  background-color: #EEF5FE;
}

button:hover {
  background-color: #B4D4FC;
  cursor: pointer;
}

h4 {
  margin-top: 30px;
  margin-left: -20px;
}